<!DOCTYPE html>
<html lang="en" ng-app="DataStructureGraph">
    <head>
        <title>Graph | SA</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../../Libraries/bootstrap-3.3.5-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="../../../Libraries/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../../../Libraries/angular.js"></script>
        <script type="text/javascript" src="../../../Libraries/dracula/js/raphael-min.js"></script>
        <script type="text/javascript" src="../../../Libraries/dracula/js/dracula_graffle.js"></script>
        <script type="text/javascript" src="../../../Libraries/dracula/js/dracula_graph.js"></script>
        <script src="script.js"></script>
    </head>
    <body ng-controller="DefaultCtrl">
        <h1 class="text-center">Graph</h1>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <th ng-repeat="item in matrix track by $index">{{$index}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="array in matrix track by $index">
                            <td ng-repeat="item in array track by $index">{{item}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="canvas"></div>
    </body>
</html>